#xfn-discovery
{
	position: absolute;
	top: 0;
	right: 1em;
	font-family: sans-serif;
}

#xfn-discovery a.trigger
{
	display: block;
	line-height: 2em;
	color: #fff;
	background: #d00;
	padding: 0 1em;
}